<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Event Era</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png">

    <!-- fraimwork - css include -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <!-- icon css include -->
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css">

    <!-- carousel css include -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.default.min.css">

    <!-- others css include -->
    <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/calendar.css">

    <!-- color switcher css include -->
    <link rel="stylesheet" type="text/css" href="/assets/css/colors/style-switcher.css">
    <link id="color_theme" rel="stylesheet" type="/text/css" href="assets/css/colors/default.css">

    <!-- custom css include -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <style>
        @media screen and (min-width:0px) and (max-width:980px) {
            #slide-section {
                margin-top: -5px !important;
            }

            .breadcrumb-section {
                margin-top: -5px !important;
            }
        }

        .breadcrumb-section {
            margin-top: 100px;
        }
    </style>

</head>


<body>


    <!-- backtotop - start -->
    <div id="thetop" class="thetop"></div>
    <div class='backtotop'>
        <a href="#thetop" class='scroll'>
            <i class="fas fa-angle-double-up"></i>
        </a>
    </div>
    <!-- backtotop - end -->

    <!-- preloader - start -->
    <div id="preloader"></div>
    <!-- preloader - end -->



    <!-- header-section - start
		================================================== -->
    <header id="header-section" class="header-section default-header-section auto-hide-header clearfix">

        <!-- header-top - start -->
        <div class="header-top">
            <div class="container">
                <div class="row">

                    <!-- basic-contact - start -->
                    <div class="col-lg-6">
                        <div class="basic-contact">
                            <ul>
                                <li>
                                    <a href="/contact">
                                        <i class="fas fa-envelope"></i>
                                        info@eventEra.com
                                    </a>
                                </li>
                                <li>
                                    <a href="#!">
                                        <i class="fas fa-phone"></i>
                                        100-2222-9999
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- basic-contact - end -->

                    <!-- register-login-group - start -->
                    
                    <!-- register-login-group - end -->

                </div>
            </div>
        </div>
        <!-- header-top - end -->

        <!-- header-bottom - start -->
        <div class="header-bottom" style="padding: 18px 0px;" >
            <div class="container">
                <div class="row">

                    <!-- site-logo-wrapper - start -->
                    <div class="col-lg-3">
                        <div class="site-logo-wrapper">
                            <a href="/" class="logo">
                                <img src="/assets/images/LOGO.png" style="height: 66px;"  alt="logo_not_found">
                            </a>
                        </div>
                    </div>
                    <!-- site-logo-wrapper - end -->

                    <!-- mainmenu-wrapper - start -->
                    <div class="col-lg-9">
                        <div class="mainmenu-wrapper">
                            <div class="row">

                                <!-- menu-item-list - start -->
                                <div class="col-lg-10">
                                    <div class="menu-item-list ul-li clearfix">
                                        <ul>
                                            <li class="menu-item-has-children">
                                                <a href="/">home</a>
                                            </li>
                                            <li class="menu-item-has-children active ">
                                                <a href="/venue/searchByCity">book event</a>
                                            </li>
                                            <li class="menu-item-has-children ">
                                                <a href="/about">about</a>
                                            </li>
                                            <li class="menu-item-has-children ">
                                                <a href="/contact">contact</a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- menu-item-list - end -->

                                <!-- menu-item-list - start -->
                                <div class="col-lg-2">
                                    <div class="user-search-btn-group ul-li clearfix">
                                        <ul>
                                            <li>
                                               
                                            </li>
                                            <li>
                                                <button type="button" class="toggle-overlay search-btn">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                                <!-- search-body - start -->
                                                <div class="search-body">
                                                    <div class="search-form">
                                                        <form action="#">
                                                            <input class="search-input" type="search"
                                                                placeholder="Search Here">
                                                            <div class="outer-close toggle-overlay">
                                                                <button type="button" class="search-close">
                                                                    <i class="fas fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- search-body - end -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- menu-item-list - end -->

                            </div>
                        </div>
                    </div>
                    <!-- mainmenu-wrapper - end -->

                </div>
            </div>
        </div>
        <!-- header-bottom - end -->

    </header>
    <!-- header-section - end
		================================================== -->



    <!-- altranative-header - start
		================================================== -->
    <div class="header-altranative">
        <div class="container">
            <div class="logo-area float-left">
                <a href="/">
                    <img src="/assets/images/LOGO.png" alt="logo_not_found">
                </a>
            </div>

            <button type="button" id="sidebarCollapse" class="alt-menu-btn float-right">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <!-- sidebar menu - start -->
        <div class="sidebar-menu-wrapper">
            <div id="sidebar" class="sidebar">
                <span id="sidebar-dismiss" class="sidebar-dismiss">
                    <i class="fas fa-arrow-left"></i>
                </span>

                <div class="sidebar-header">
                    <a href="/">
                        <img src="/assets/images/LOGO.png" alt="logo_not_found">
                    </a>
                </div>

                <!-- sidebar-form - start -->
                <div class="sidebar-form">
                    <form action="#">
                        <input id="altmenu-sidebar-search" type="search" placeholder="Search">
                        <label for="altmenu-sidebar-search"><i class="fas fa-search"></i></label>
                    </form>
                </div>
                <!-- sidebar-form - end -->

                <!-- Navigation For Mobile - start -->
                <div class="menu-link-list other-pages-links">

                    <ul>
                        <li>
                            <a href="/">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/venue/searchByCity">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                book event
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                contact us
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- login-btn-group - start -->
                <div class="login-btn-group">
                    <ul>

                      

                    </ul>
                </div>
                <!-- login-btn-group - end -->

                <!-- social-links - start -->
                <div class="social-links mt-5">
                    <h2 class="menu-title">get in touch</h2>
                    <div class="mb-15">
                        <h3 class="contact-info">
                            <i class="fas fa-phone"></i>
                            100-2222-9999
                        </h3>
                        <h3 class="contact-info">
                            <i class="fas fa-envelope"></i>
                            info@eventEra.com
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <a href="#!"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-twitch"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                    <a href="/contact" class="contact-btn my-3">contact us</a>
                </div>
                <!-- social-links - end -->

                <div class="overlay"></div>
            </div>
        </div>
        <!-- sidebar menu - end -->
    </div>
    <!-- altranative-header - end
		================================================== -->


    <!-- breadcrumb-section - start
        		================================================== -->
    <section id="breadcrumb-section" class="breadcrumb-section clearfix">
        <div class="jarallax" style="background-image: url(/assets/images/breadcrumb/0.breadcrumb-bg.jpg);">
            <div class="overlay-black">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-12 col-sm-12">

                            <!-- breadcrumb-title - start -->
                            <div class="breadcrumb-title text-center mb-50">
                                <span class="sub-title">venue Detail</span>
                                <h2 class="big-title">Book <strong>Event</strong></h2>
                            </div>
                            <!-- breadcrumb-title - end -->

                            <!-- breadcrumb-list - start -->
                            <div class="breadcrumb-list">
                                <ul>
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Vanue
                                            list</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Book Event</li>
                                </ul>
                            </div>
                            <!-- breadcrumb-list - end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-section - end
        		================================================== -->


    <!-- Vanue Details - start
                		================================================== -->
    <section id="upcomming-event-section2" class="upcomming-event-section2 sec-ptb-100 clearfix">


        <div class="comming-event-item">
            <div class="container">
                <div class="row justify-content-start">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="event-content">

                            <!-- event-title - start -->
                            <div class="event-title">
                                <small class="tag">
                                    <i class="fas fa-bookmark"></i>
                                    Featured Event
                                </small>
                                <h3 class="title-text"> <strong><%= venue.name %></strong></h3>
                            </div>
                            <!-- event-title - end -->

                            <p class="black-color mb-30">
                               <%= venue.address %>
                            </p>

                            <div class="event-info-list ul-li-block mb-30">
                                <ul>

                                    <li>
                                        <span class="icon">
                                            <i class="far fa-clock"></i>
                                        </span>
                                       <%= venue.timing %>
                                    </li>
                                    <li>
                                        <span class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </span>
                                        <%= venue.city %>
                                    </li>
                                    <li>
                                        <span class="icon">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <%= venue.max_capacity %>
                                    </li>

                                </ul>
                            </div>

                            

                        </div>
                    </div>

                </div>
            </div>
            <div class="event-image">
                <div class="big-image">
                    <div class="badge-item">
                        <div class="content">
                            <i class="fas fa-star"></i>
                            <strong>5.0</strong>
                            <small>featured hotel</small>
                        </div>
                    </div>
                    <div class="brand-logo">
                        <a href="#!" class="logo">
                            <img src="/assets/images/LOGO.png" alt="logo_not_found">
                        </a>
                    </div>
                    <img src="/venueImage/<%= venue.coveImage %>" alt="Image_not_found">
                </div>
              
            </div>
        </div>

    </section>
    <!-- Vanue Details - end
                		================================================== -->


    <!-- contact-section - start
                		================================================== -->
    <section id="contact-section" class="contact-section sec-ptb-100 clearfix">
        <div class="container">

            <!-- section-title - start -->
            <div class="section-title mb-50">
                <small class="sub-title">Event Requriment </small>
                <h2 class="big-title"> Event <strong>Detail</strong></h2>
            </div>
            <!-- section-title - end -->

            <!-- contact-form - start -->
            <div class="contact-form form-wrapper text-center">
                <form  id="bookingForm" class="<%= venue.id %>">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-item">
                                <input type="text" name="Event-name" id="name" placeholder="Evnt Name" required>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-item">
                                <input type="number" placeholder="Number of Person" id="people" name="people" required>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-item">
                                <input type="date" name="date" id="date"required>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <textarea placeholder="Additional Details"  name="details" id="description" required></textarea>
                            <button type="submit" id="booking" class="custom-btn">Book Event</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- contact-form - end -->

        </div>
    </section>
    <!-- contact-section - end
                		================================================== -->


    <!-- footer-section2 - start
                    		================================================== -->
    <footer id="footer-section" class="footer-section footer-section2 clearfix">

        <!-- footer-top - start -->
        <div class="footer-top sec-ptb-100 clearfix">
            <div class="container">
                <div class="row">

                    <!-- about-wrapper - start -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="about-wrapper">

                            <!-- site-logo-wrapper - start -->
                            <div class="site-logo-wrapper mb-30">
                                <a href="index-1.html" class="logo">
                                    <img src="/assets/images/LOGO.png" alt="logo_not_found">
                                </a>
                            </div>
                            <!-- site-logo-wrapper - end -->


                            <!-- basic-info - start -->
                            <div class="basic-info ul-li-block mb-50">
                                <ul>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Surat, Gujrat, India
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <a href="#!">contact@example.com</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <a href="#!">100 800 1234 5555</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- basic-info - end -->

                            <!-- social-links - start -->
                            <div class="social-links ul-li">
                                <h3 class="social-title">network</h3>
                                <ul>
                                    <li>
                                        <a href="#!"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="fab fa-twitch"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social-links - end -->

                        </div>
                    </div>
                    <!-- about-wrapper - end -->


                    <!-- usefullinks-wrapper - start -->
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="usefullinks-wrapper ul-li-block">
                            <h3 class="footer-item-title">
                                useful <strong>links</strong>
                            </h3>
                            <ul>
                                <li><a href="/about">About Event Era</a></li>
                                <li><a href="#!">Disclaimer</a></li>
                                <li><a href="/contact">Contact us</a></li>
                                <li><a href="/dashboard">Events Schedule</a></li>
                                <li><a href="/bookEvent">Venues</a></li>
                                <!-- <li><a href="#!">Pricing Plans</a></li> -->
                            </ul>

                        </div>
                    </div>
                    <!-- usefullinks-wrapper - end -->


                </div>
            </div>
        </div>
        <!-- footer-top - end -->

    </footer>
    <!-- footer-section2 - end
                    		================================================== -->


    <!-- fraimwork - jquery include -->
    <script src ="/js/booking.js" ></script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- carousel jquery include -->
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>

    <!-- map jquery include -->
    <script src="/assets/js/gmap3.min.js"></script>

    <!-- calendar jquery include -->
    <script src="/assets/js/atc.min.js"></script>

    <!-- others jquery include -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/jarallax.min.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- gallery img loaded - jqury include -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>

    <!-- multy count down - jqury include -->
    <script src="/assets/js/jquery.countdown.js"></script>

    <!-- color panal - jqury include -->
    <!-- <script src="assets/js/style-switcher.js"></script> -->

    <!-- custom jquery include -->
    <script src="/assets/js/custom.js"></script>

</body>

</html>